@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
background-image: url(../images/header_wallpaper.jpg);
min-height: 700px;
background-size: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar-right__nihao {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: white;
  font-weight: 500;
  font-size: 50px;
  
}

.navbar__item {
  list-style-type: none;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  margin-right: 10px;
}

a {
  color: unset;
  text-decoration: none;
}

.title__tag {
  color: white;
  margin-top: 40px;
  margin-bottom: 20x;
  font-size: 15px;
}

.title {
  color: white;
  margin-bottom: 40px;
  font-size: 60px;
}

.blocks {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-evenly;
}
.blocks__left{
  width: 100%;
  margin-left: 50px;
}

.blocks__right {
  display: flex;
  width: 100%;

}

.list1 {
  margin-top: 200px;
  margin-left: 300px;
  margin-top: 250px;
  
}

.latest-projects {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  color:whitesmoke;
  transition: all 0.7s;
}

.latest-projects:hover {
  background-color: white;
  color: black;
}

.more-about-me {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  color:whitesmoke;
  transition: all 0.7s;
}

.more-about-me:hover {
  background-color: white;
  color: black;
}

.list2__social {
  margin-right: 30px;
  color: white; 
  margin-top: 250px;
}


.social__item {
  list-style-type: none;
}

.section__tag {
text-align: center;
color: #862121;
font-size: 20px;
margin-top: 20px;
margin-bottom: 10px;
}

.section__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.section__description {
  text-align: center;
  font-size: 30px;
}



